/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS */
/* @font-face {
	font-family: "name";
	src: url('two/three/TrashHand.TTF') format('truetype');
}
@font-face {
	font-family: "desc";
	src: url('two/three/ComicaRegular.otf') format('truetype');
} */
/* Portrait
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

}

/* Landscape */
/* @media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}  */
#tab1 {
	z-index: 103;
	position: fixed;
	margin: 0;
	width: 350px;
	height: 0px;
	left: 0;
	right: 0;
	visibility: visible;
  }
.welcome {
	z-index: 103;
	position: fixed;
	margin: auto;
	width: 350px;
	margin-top: 200px;
	left: 0;
	right: 0;
	visibility: visible;
	border: 0.5px solid rgb(175, 175, 175);
  }
#tutup {
	z-index: 104;
	position: fixed;
	margin: auto;
	width: 350px;
	padding-top: 195px;
	padding-left: 327px;
	left: 0;
	right: 0;
  }
.tutup {
	z-index: 104;
	position: fixed;
	margin: auto;
	width: 10px;
	height: 10px;
  }
.free {
	z-index: 101;
	position: fixed;
	margin: auto;
	width: 350px;
	margin-top: 200px;
	left: 0;
	right: 0;
	visibility: visible;
	border: 0.5px solid rgb(175, 175, 175);
  }
#tutupp {
	z-index: 102;
	position: fixed;
	margin: auto;
	width: 350px;
	padding-top: 195px;
	padding-left: 327px;
	left: 0;
	right: 0;
  }
.tutupp {
	z-index: 102;
	position: fixed;
	margin: auto;
	width: 10px;
	height: 10px;
  }
.bg_promo {
	z-index: 100;
	position: fixed;
	margin: auto;
	width: 360px;
	height: 4846.980px;
	/* background-color: white;
	opacity: 50%; */
	left: 0;
	right: 0; 
	backdrop-filter: blur(8px);
	-webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
	visibility: visible;
	margin-top: -24px;
  }
  #tab3 {
	z-index: 97;
	position: fixed;
	margin: 0;
	width: 360px;
	left: 0;
	right: 0;
	visibility: visible;
  }
  .openmenu {
	z-index: 98;
	position: fixed;
	margin: auto;
	width: 360px;
	height: 40.328px;
	left: 0;
	right: 0;
	/* background-color: blueviolet; */
	opacity: 0.5;
	/* margin-top: -23px; */
  }
  .openmenu2 {
	z-index: 99;
	position: fixed;
	margin: auto;
	width: 360px;
	height: 40.328px;
	left: 0;
	right: 0;
	/* background-color: rgb(255, 59, 52); */
	opacity: 0.5;
	visibility: hidden;
  }
  .menu {
	width: 24px;
	height: 18px;
    margin: auto;
	/* background-color: aqua; */
	margin-top: 11px;
	margin-left: 15px;
}
.menu2 {
	width: 24px;
	height: 18px;
    margin: auto;
	/* background-color: rgb(229, 255, 0); */
	margin-top: 11px;
	margin-left: 15px;
}
.text {
	font-size: 13px;
	color: rgb(153, 153, 153);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}
.up {
	width: 360px;
    z-index: 97;
    margin: auto;
    position: fixed;
	left: 0;
	right: 0;
}
.isimenu {
	width: 360px;
	height: 72px;
    z-index: 96;
    margin: auto;
    position: fixed;
	background-color: rgb(252, 252, 252);
	margin-top: 38px;
	visibility: hidden;
	left: 0;
	right: 0;
}
.company {
	width: 310px;
	height: 20px;
	opacity: 0.5;
	margin-top: 10px;
	text-align: center;
	border-bottom: 0.2px solid rgb(219, 219, 219);
	margin-left: 25px;
}
.layanan {
	width: 310px;
	height: 20px;
	opacity: 0.5;
	text-align: center;
	border-bottom: 0.2px solid rgb(219, 219, 219);
	margin-left: 25px;
}
.kontak {
	width: 310px;
	height: 20px;
	opacity: 0.5;
	text-align: center;
	margin-left: 25px;
}
.buka3:checked ~ .isimenu {
	-webkit-animation : tutup6;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease;
  }
.buka3:checked ~ .openmenu2 {
	-webkit-animation : tutup8;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease;
  }
.buka3:checked ~ .openmenu {
	-webkit-animation : tutup7;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease;
  }
@-webkit-keyframes tutup6 {
	0% {
	visibility: hidden;
	}
	5% {
	visibility: hidden;
	}
	6% {
	visibility: visible;
	}
	100% {
	visibility: visible;
	}
}
@-webkit-keyframes tutup8 {
	0% {
	visibility: hidden;
	}
	5% {
	visibility: hidden;
	}
	6% {
	visibility: visible;
	}
	100% {
	visibility: visible;
	}
}
@-webkit-keyframes tutup7 {
	0% {
	visibility: visible;
	}
	5% {
		visibility: visible;
		}
	6% {
		visibility: hidden;
		}
	100% {
		visibility: hidden;
		}
  }
.buka1:checked ~ .welcome {
  -webkit-animation : tutup1;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
}
.buka1:checked ~ #tutup {
  -webkit-animation : tutup3;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
}
.buka2:checked ~ .free {
  -webkit-animation : tutup2;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
}
.buka2:checked ~ #tutupp {
  -webkit-animation : tutup4;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
}
.buka2:checked ~ .bg_promo {
	-webkit-animation : tutup5;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease;
  }
.tutup1, .tutup2, .buka11, .buka22, .buka1, .buka2, .buka3, .tutup3, .buka33 {
	display: none;
}
@-webkit-keyframes tutup1 {
  0% {
  opacity: 100%;
  width: 350px;
  z-index: 97;
  visibility: visible;
  }
  25% {
  opacity: 60%;
  width: 350px;
  z-index: 97;
  visibility: visible;
  }
  50% {
  opacity: 20%;
  width: 350px;
  z-index: 97;
  visibility: visible;
  }
  99% {
  opacity: 0%;
  width: 350px;
  z-index: 97;
  visibility: visible;
  }
  100% {
  opacity: 0%;
  z-index: -99;
  width: 0px;
  visibility: hidden;
  }
}
@-webkit-keyframes tutup2 {
	0% {
	opacity: 100%;
	width: 350px;
	z-index: 94;
	visibility: visible;
	}
	25% {
	opacity: 60%;
	width: 350px;
	z-index: 94;
	visibility: visible;
	}
	50% {
	opacity: 20%;
	width: 350px;
	z-index: 94;
	visibility: visible;
	}
	99% {
	opacity: 0%;
	width: 350px;
	z-index: 94;
	visibility: visible;
	}
	100% {
	opacity: 0%;
	z-index: -99;
	width: 0px;
	visibility: hidden;
	}
  }
  @-webkit-keyframes tutup3 {
	0% {
	opacity: 100%;
	z-index: 98;
	visibility: visible;
	}
	25% {
	opacity: 60%;
	z-index: 98;
	visibility: visible;
	}
	50% {
	opacity: 20%;
	z-index: 98;
	visibility: visible;
	}
	99% {
	opacity: 0%;
	z-index: 98;
	visibility: visible;
	}
	100% {
	opacity: 0%;
	z-index: -99;
	visibility: hidden;
	}
  }
  @-webkit-keyframes tutup4 {
	0% {
	opacity: 100%;
	z-index: 95;
	visibility: visible;
	}
	25% {
	opacity: 60%;
	z-index: 95;
	visibility: visible;
	}
	50% {
	opacity: 20%;
	z-index: 95;
	visibility: visible;
	}
	99% {
	opacity: 0%;
	z-index: 95;
	visibility: visible;
	}
	100% {
	opacity: 0%;
	z-index: -99;
	visibility: hidden;
	}
  }
  @-webkit-keyframes tutup5 {
	0% {
	opacity: 50%;
	width: 360px;
	height: 683px;
	z-index: 93;
	visibility: visible;
	}
	25% {
	opacity: 50%;
	width: 360px;
	height: 683px;
	z-index: 93;
	visibility: visible;
	}
	50% {
	opacity: 20%;
	width: 360px;
	height: 683px;
	z-index: 93;
	visibility: visible;
	}
	99% {
	opacity: 0%;
	width: 360px;
	height: 683px;
	z-index: 93;
	visibility: visible;
	}
	100% {
	opacity: 0%;
	z-index: -99;
	width: 0px;
	height: 0px;
	visibility: hidden;
	}
  }
body {
	width: 360px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.bg {
    width: 360px;
	z-index: -1;
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;
	margin-top: -43px;
}
.bg2 {
    width: 360px;
	z-index: 1;
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;
	/* opacity: 50%; */
}
.page1 {
	z-index: 1;
	position: absolute;
	width: 360px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.head1, .ba1, .left, .right, .contact, .info, .media, .event, .award, .timur1, .timur2, .doctor1, .doctor2 {
	z-index: 3;
}
.head {
	width: 360px;
	height: 241.53px;
	margin-top: 42px;
    margin: auto;
    position: absolute;
	z-index: 3;
}
.lebar {
	width: 360px;
	height: 241.53px;
	margin-top: 42px;
}
.lebar1 {
	width: 360px;
	height: 241.53px;
	margin-top: 89px;
}
.head1 {
	width: 360px;
	height: 241.53px;
	margin-top: 42px;
}
.head2 {
	width: 360px;
	height: 241.53px;
	margin-top: 42px;
}
.head3 {
	width: 360px;
	height: 241.53px;
	margin-top: 42px;
}
.beaf {
	width: 260px;
	height: 228.7px;
    position: absolute;
	margin-top: 87px;
	margin-left: 50px;
	box-shadow: 0 0 10px rgb(202, 202, 202);
}
.beaf_kiri {
	margin-top: -10px;
	margin-left: -45px;
	filter: invert(100%);
	height: 228.7px;
}
.beaf_kanan {
	margin-top: -10px;
	margin-right: -45px;
	filter: invert(100%);
	height: 228.7px;
}
/* .ba1 {
	filter: grayscale(100%);
	width: 260px;
	margin-top: 337px;
	margin-left: 50px;
}
.ba2 {
	filter: grayscale(100%);
	width: 260px;
	margin-top: 337px;
	margin-left: 50px;
}
.ba3 {
	filter: hue-rotate(180deg);
	width: 260px;
	margin-top: 337px;
	margin-left: 50px;
} */
.contact {
	width: 108px;
	position: absolute;
	margin-top: 40px;
	margin-left: 126px;
	z-index: 5;
	box-shadow: 0 0 6px rgb(228, 228, 228);
	border-radius: 14px;
}
.info {
	width: 161px;
	position: absolute;
	margin-top: 133px;
	margin-left: 151px;
}
.media {
	width: 212px;
	position: absolute;
	margin-top: 531px;
	margin-left: 74px;
}
.left1 {
	width: 11px;
	position: absolute;
	margin-top: 653px;
	margin-left: 70px;
}
.right1 {
	width: 11px;
	position: absolute;
	margin-top: 657px;
	margin-left: 280px;
}
.event {
	width: 268px;
	position: absolute;
	margin-top: 881px;
	margin-left: 46px;
}
.left2 {
	width: 11px;
	position: absolute;
	margin-top: 996px;
	margin-left: 45px;
}
.right2 {
	width: 11px;
	position: absolute;
	margin-top: 996px;
	margin-left: 305px;
}
.award {
	width: 268px;
	position: absolute;
	margin-top: 1239px;
	margin-left: 46px;
}
.left3 {
	width: 11px;
	position: absolute;
	margin-top: 1358px;
	margin-left: 45px;
}
.right3 {
	width: 11px;
	position: absolute;
	margin-top: 1358px;
	margin-left: 305px;
}
.timur {
	margin-top: 1628px;
	width: 360px;
	height: 241.53px;
    margin: auto;
    position: absolute;
	z-index: 3;
}
.timur_kanan {
	width: 360px;
	height: 241.53px;
	margin-top: 1708px;
}
.timur_kiri {
	width: 360px;
	height: 241.53px;
	margin-top: 1708px;
}
.timur1 {
	margin-top: 1628px;
	width: 360px;
}
.timur2 {
	margin-top: 1628px;
	width: 360px;
}
.timur3 {
	margin-top: 1628px;
	width: 360px;
}
.barat {
	margin-top: 2150px;
	width: 360px;
	height: 241.53px;
    position: absolute;
	/* z-index: 3; */
	margin: auto;
}
.barat_kanan {
	width: 360px;
	height: 241.53px;
	margin-top: 1990px;
}
.barat_kiri {
	width: 360px;
	height: 241.53px;
	margin-top: 1990px;
}
.barat1 {
	margin-top: 1910px;
	width: 360px;
}
.barat2 {
	margin-top: 1910px;
	width: 360px;
}
.barat3 {
	margin-top: 1910px;
	width: 360px;
}
/* .timur1 {
	width: 360px;
	position: absolute;
	margin-top: 1560px;
}
.timur2 {
	width: 360px;
	position: absolute;
	margin-top: 2082px;
} */
.doctor1 {
	width: 259px;
	position: absolute;
	margin-top: 2214px;
	margin-left: 50px;
}
.doctor2 {
	width: 259px;
	position: absolute;
	margin-top: 2513px;
	margin-left: 50px;
}
#contact {
	width: 360px;
	height: 210px;
	/* background-color: aqua; */
	position: absolute;
	margin-top: 3544px;
	opacity: 0.5;
}
.timurwa {
	width: 103px;
	height: 12px;
	/* background-color: blue; */
	position: absolute;
	margin-top: 82px;
	margin-left: 195px;
	opacity: 0.5;
}
.baratwa {
	width: 103px;
	height: 12px;
	/* background-color: blue; */
	position: absolute;
	margin-top: 137px;
	margin-left: 192px;
	opacity: 0.5;
}





/* sooon */
.page2 {
	z-index: 1;
	position: absolute;
	width: 360px;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: rgb(232, 244, 255);
}
.soon {
	text-align: center;
	font-size: 30px;
	color: rgb(180, 211, 240);
	padding-top: 50%;
}





/* allll */
.atext {
	text-decoration: none;
}
a {
	text-decoration: none;
}